* {
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: 'League Spartan';
    src: url('fonts/league-spartan.woff2') format('woff2'),
         url('fonts/league-spartan.woff') format('woff');
  }
nav img{
    margin-right: 50px;
}
nav{
    padding: 10px;
    text-align: center;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.323);
    height: 80px;
}
nav > a{
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.257);
    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 15px;
    transition-duration: 1s;
}
.selecionado{
    color: black;
    font-size: 20px;
}
nav a:hover{
    color: black;
    font-size: 20px;
    transition-duration: 1s;
}
nav:hover > .selecionado{
    color: rgba(0, 0, 0, 0.257);
    font-family: 'League Spartan';
    font-weight: bold;
    font-size: 15px;
    transition-duration: 1s;
}